@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Cardo:ital,wght@0,400;0,700;1,400&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Orbitron:wght@400..900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    padding: 20px;
    background-color: #bebebe;

}

.container {
    max-width: 1200px;
    margin: 40px auto;
    background-color: #e8e8e8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 3em;
}

form {
    margin-bottom: 20px;
}

input {

    margin-right: 10;
    padding: 5px;
}

#task-form input {
    box-sizing: border-box;
    padding: 12px 14px;
    font-size: 16px;
    line-height: 1.3;
    margin-bottom: 12px;
    border: 1px solid #d6dbe6;
    border-radius: 8px;
    background: #FCFDFF;
    transition: border-color 0.8s ease, box-shadow 0.12s ease;
}

#task-form input:focus {
    outline: none;
    border-color: #63c07a;
}

#task-form button {
    display: inline-block;
    padding: 12x 18px;
    font-size: 16px;
    font-weight: 600;
    color: #ffffff;
    background: linear-gradient(90deg, #39a36b 0%, #2f8f5b 100%);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 8px 20px rgba(47, 143, 97, 0.12);
    transition: border-color 0.8s ease, box-shadow 0.12s, opacity 0.12s ease;

}

ul {
    list-style: none;
    padding: 0;
    width: 530px;
}

li {
    background-color: white;
    margin: 5px 0;
    padding: 12px 14px;
    font-size: 32px;
    border-left: 5px solid #4CAF50;
    justify-content: space-between;
    align-items: center;

}

.completed {
    text-decoration: line-through;
    opacity: 0.6;

}